{% extends "admin/base.html" %}
{% load static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="https://i.ibb.co/5kRLvM9/podar-logo.jpg" width="40" height="40">&nbsp;&nbsp;&nbsp;{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/AdminStyles.css' %}">
{% endblock %}